    body{
    box-sizing: content-box;   
    margin: 0;
    padding: 0;
    background-color:#034660;
    }
    
    
    .BarredeScore{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
    


    }
#barrescore{
        background-image: url(./Images/Barre_de_Score.svg);
        background-repeat: no-repeat;
        height: 100px;
        color: #FFFF;
        text-align: center;
        padding-top: 7%;
        margin-left: 3%;
        padding-top: 9%;
        
    } 
    .Imagebarrescore{
       text-align: center;
        margin-top: 10%;
        margin-bottom: 5%;  
    
    }
  
    /* .tete{
       
       margin-top: 2%;
       margin-bottom: 5%;
       width:75%;
    } */

    #ImageTete{
        margin-top: 2%;
        margin-bottom:5%;
       
    }
    .Cookieboost{
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }
  #Imagebonus{
    width: 100%;
    height: auto;
  }

  #ImageAuto{
    width: 100%;
    height: auto;
  }

  #ImageBoost {
      width: 100%;
      height: auto;
  }
 